# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(
                          df['date'])

In [4]:
# Set the date column as the DataFrame index
df.set_index('date', inplace= True)
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [23]:
from scipy import stats
from scipy.stats import ttest_rel
from scipy.stats import ttest_ind

In [14]:
# Filter data for desired months
data_june = df[df.index.get_level_values('date').month == 6]
data_dec = df[df.index.get_level_values('date').month == 12]

In [15]:
# Identify the average temperature for June
Avg_temp_june = data_june['tobs'].mean()
Avg_temp_june

74.94411764705882

In [16]:
# Identify the average temperature for December'
Avg_temp_dec = data_dec['tobs'].mean()
Avg_temp_dec

71.04152933421226

In [17]:
# Create collections of temperature data
len(data_dec)

1517

In [24]:
# Run un-paired t-test
t_test = ttest_ind(data_june['tobs'], data_dec['tobs'])
t_test

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

##### Why used un-paired ttest:
The reason we need to ran un-paired t-test is that we are using data from two independent times/months. Also the length of data per month is different. We can only use paired t test when the data samples are equal in number quantity.

##### Result Analysis:
Since the pvalue is significantly greater than 0.05 we fail to reject the null hypothesis. Meaning that when comparing tempratures of June and December it can be concluded that the mean temprature of both months would be significantly different